<a href="https://colab.research.google.com/github/oliva0620/23bigdata_exam/blob/cs/BigData_example1_SOL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.기출문제 (빅분기 실기 2회)

#### 1-1. 
데이터 전처리 단계에서 발견하는 값으로 관측된 데이터 범위에서 많이 벗어나 있는 아주 작거나 아주 큰 값으로 정상 범위를 벗어난 값을 의미하는 것은 무엇인가?

In [ ]:
이상치

#### 1-2. 
정답지, label이 없다, 대표적분석에 군집분석, 연관분석 등이 있다. 해당 기법을 뭐라하는가?

In [ ]:
비지도학습

#### 1-3.
모델을 생성시 사용자가 직접 변경/설정해 주어야하는 것은 무엇인가?

In [ ]:
hyper-parameter

#### 1-4.
결측값을 대치 하는 방법 중 평균값을 사용해 대치하는 방법은?

In [ ]:
평균대치법

#### 1-5.
모델의 학습에서는 정확도가 높게 나오지만 테스트 셋에서는 정확도가 낮게 나오는 것을 무엇이라하는가?

In [ ]:
오버피팅

#### 1-6.
변수 선택 방법 중 모든 변수를 활용해 하나씩 제거해 가는 방법은?

In [ ]:
후진제거법

#### 1-7. 
모델 학습시 잘못된 결과에 대해 가중치를 반영해 모델을 생성하는 방법?

In [ ]:
부스팅(boosting)

#### 1-8. 
TPR , FPR 로 그려서 확인하는 곡선은?

In [ ]:
ROC 곡선

#### 1-9.
마지막 은닉층 2개의 값이 [0.2, -0.3]이고,  가중치가 [0.3, 0.1]이다. bias -0.05, 출력층 노드가 1개 이고, f(x) = x , if x >= 0, 그외 -1 일때 출력값은 무엇인가?

In [ ]:
w1, w2 = 0.2, -0.3
x1, x2 = 0.3, 0.1
bias = -0.05
x = w1*x1 + w2*x2 + bias
result = x if x >=0 else -1
print(result)  #  x는 음수~

-1

#### 1-10.
앙상블 기법의 한 가지 종류로 회귀, 분류 모델에 사용되며, 약학습기 여러 개를 사용하는 부스팅 알고리즘에 속한다. 가중치 업데이트를 경사하강법을 이용해 최적화된 결과를 얻는 알고리즘이다.

In [ ]:
Gradient Boosting

## 2.기출문제 (빅분기 실기 2회)

In [ ]:
!git clone https://github.com/Soyoung-Yoon/bigdata

Cloning into 'bigdata'...
remote: Enumerating objects: 53, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 53 (delta 0), reused 0 (delta 0), pack-reused 50
Unpacking objects: 100% (53/53), 14.21 MiB | 2.40 MiB/s, done.

#### 2-1. 보스턴 데이터
보스턴 데이터 범죄율 컬럼('CRIM')의 top10 중 10번째 범죄율 값으로 1~10위의 범죄율 값을 변경 후, 'AGE' 변수의 값이 80이상인 것에 대한 범죄율 평균을 산출하라.

In [ ]:
# 아래와 같이 boston 데이터를 가져오기 했다고 생각하고 풀이하여 주세요 ^^!
## sklearn에서 더이상 boston 데이터를 제공하지 않으므로 교체합니다.
##from sklearn.datasets import load_boston
import pandas as pd
df = pd.read_csv('bigdata/boston.csv')
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14,21.6

In [ ]:
# 범죄율('CRIM')에 대해 내림차순 정렬
t = df.sort_values('CRIM', ascending=False)

# TOP10 중에서 10번째 'CRIM' 값으로 TOP10의 'CRIM' 값을 수정
t.iloc[:10, 0] = t.iloc[9, 0]
t.head(11)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
380,25.9406,0.0,18.1,0.0,0.671,6.968,91.9,1.4165,24.0,666.0,20.2,396.90,17.21,10.4
418,25.9406,0.0,18.1,0.0,0.679,5.957,100.0,1.8026,24.0,666.0,20.2,16.45,20.62,8.8
405,25.9406,0.0,18.1,0.0,0.693,5.683,100.0,1.4254,24.0,666.0,20.2,384.97,22.98,5.0
410,25.9406,0.0,18.1,0.0,0.597,5.757,100.0,1.4130,24.0,666.0,20.2,2.60,10.11,15.0
414,25.9406,0.0,18.1,0.0,0.693,4.519,100.0,1.6582,24.0,666.0,20.2,88.27,36.98,7.0
404,25.9406,0.0,18.1,0.0,0.693,5.531,85.4,1.6074,24.0,666.0,20.2,329.46,27.38,8.5
398,25.9406,0.0,18.1,0.0,0.693,5.453,100.0,1.4896,24.0,666.0,20.2,396.90,30.59,5.0
427,25.9406,0.0,18.1,0.0,0.679,6.202,78.7,1.8629,24.0,666.0,20.2,18.82,14.52,10.9
413,25.9406,0.0,18.1,0.0,0.597,5.155,100.0,1.5894,24.0,666.0,20.2,210.97,20.08,16.3
417,25.9406,0.0,18.1,0.0,0.679,5.304,89.1,1.6475,24.0,666.0,20.2,127.36,26.64,10.4
400,25.0461,0.0,18.1,0.0,0.693,5.987,100.0,1.5888,24.0,666.0,20.2,396.90,26.77,5.6

In [ ]:
# AGE가 80 이상인 것에 대해 'CRIM'의 평균 구하기
t2 = t[t['AGE']>=80]
result = t2['CRIM'].mean()
print(result)   # 값을 구해서 print()를 사용해 출력해야 합니다.

5.759386625

In [ ]:
정답 : 5.759387

#### 2-2. 하우징 데이터
- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv' 파일을 사용한다
- 주어진 데이터의 첫번째 행 부터 순서대로 80% 까지의 데이터를 추출 후 'total_bedrooms' 변수의 결측값(NA)을 'total_bedrooms' 변수의 중앙값으로 대체하고,
- 대체 전의 'total_bedrooms' 변수 표준편차값과 대체 후의 'total_bedrooms' 변수 표준편차 값을 산출하여
- 대체 전 표준편차 값 - 대체 후 표준편차 값을 구해 출력한다.

In [ ]:
# 데이터셋 출처 
# https://www.kaggle.com/camnugent/introduction-to-machine-learning-in-r-tutorial

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv')
df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY

In [ ]:
# 위치 순서대로 보았을 때 80% 위치의 위치 번호
df.shape, df.shape[0] * 0.8

((20640, 10), 16512.0)

In [ ]:
# 16512 번까지의 자료를 가져와 표준편차, 중앙값 구하기
bedrooms = df['total_bedrooms'][:16512]
before_std = bedrooms.std()
median = bedrooms.median()
# 결측치를 median으로 채우기
bedrooms = bedrooms.fillna(median)
# 결측치를 채운 뒤의 표준편차 구하기
after_std = bedrooms.std()
# 결측치 채우기 전, 후의 표준편차의 차이 구하기
result = before_std - after_std
print(result)

1.9751472916456692

#### 2-3. 하우징 데이터 
- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv' 파일을 사용한다
- 하우징 데이터에서 'latitude' 컬럼의 이상치를 찾아 이상치들의 합을 산출하시오.
- 이상치 기준 : 평균 - (표준편차 * 1.5), 평균 + (표준편차 * 1.5)

In [ ]:
# 평균 - (표준편차 * 1.5), 평균 + (표준편차 * 1.5)

In [ ]:
# 하우징 데이터에서 'latitude' 컬럼 데이터에 대한 평균, 표준편차를 구한다
latitude = df['latitude']
mean, std = df['latitude'].agg(['mean', 'std'])

# 이상값의 하한, 상한을 구한다
lower, upper = mean - std*1.5, mean + std*1.5

# 하한보다 작거나 상한보다 큰 값을 갖는 것에 대한 합계를 구한다
result = latitude[(lower > latitude) | (upper < latitude)].sum()
print(result)

45815.75

## 3.기출문제 (빅분기 실기 2회)
- 고객 구매 데이터를 사용해서 고객이 주문한 물품이 제 시간에 도착여부(Reached.on.Time_Y.N) 예측
- X_train.csv, y_train.csv : 학습 및 학습평가에 사용하는 파일
- X_test.csv : 제출용 데이터 생성에 사용하는 파일
- roc_score를 사용하여 평가
- 아래의 형식으로 submission수험번호.csv 로 저장
- Reached.on.Time_Y.N은 제 시간에 도착할 확률
        ID,Reached.on.Time_Y.N
        7007,0.27419354838709675
        9793,0.4883720930232558
        6593,0.48174157303370785
        10527,0.3657243816254417

### 3-01.문제이해

In [ ]:
# https://www.kaggle.com/prachi13/customer-analytics?select=Train.csv

In [ ]:
# 기출에서 기억나는 것
# - 컬럼 중 1개가 숫자형으로 안내 되었는데 info() 결과 object로 표시됨
# - head() 로 해서 표시되지 않았음 
# - value가 '1', '*7', '4', '9', '*7' 이렇게 되어 있어서 '*'을 제거하고 dtype을 변경해야함

In [ ]:
import pandas as pd
# 이상한 것 확인
df = pd.DataFrame({'rating': ['1', '2', '4', '*7', '8', '*7', '3', '5', '2', '*4']})

In [ ]:
# 해결 방법
df['rating'] = df['rating'].str.replace('*', '').astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rating  10 non-null     int64
dtypes: int64(1)
memory usage: 208.0 bytes

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

### 3-02.데이터 불러오기, 탐색

***pandas의 출력 설정 옵션 다시 확인하세요!***

In [ ]:
# [0] 사용 라이브러리 import
import pandas as pd

# 데이타가 많은경우 모두 출력 안되고 ... 으로 생략해서 출력됨.
pd.set_option('display.max_rows',500)    #출력할 max row를 지정
pd.set_option('display.max_columns',20)  #출력할 max columns를 지정
#출력 format 지정 - 소수점아래 4자리까지
pd.set_option('display.float_format', '{:.4f}'.format)

In [ ]:
# [0] x_train, x_test 데이터로 생성함
# 문제 출제 형식에 맞도록 변환한 것입니다.  시험에서는 이런 코드가 없습니다.
from sklearn.model_selection import train_test_split

dftot = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/1st_Train.csv')
x_train, x_test = train_test_split(dftot, test_size=0.4, stratify=dftot['Reached.on.Time_Y.N'], random_state=0)
y_train = x_train[['Reached.on.Time_Y.N']]
x_train = x_train.drop(columns='Reached.on.Time_Y.N')
y_test = x_test[['Reached.on.Time_Y.N']]   # 이것은 시험에서는 제공되지 않음
x_test = x_test.drop(columns='Reached.on.Time_Y.N')

x_train.to_csv('x_train.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
x_test.to_csv('x_test.csv', index=False)
y_test.to_csv('y_test.csv', index=False) # 이것은 시험에서는 제공되지 않음

In [ ]:
x_train.shape, y_train.shape, x_test.shape

((6599, 11), (6599, 1), (4400, 11))

In [ ]:
# [1] x_train.csv, y_train.csv, x_test.csv 읽어오기
X = pd.read_csv('x_train.csv')
Y = pd.read_csv('y_train.csv')
X_submission = pd.read_csv('x_test.csv')

In [ ]:
X_submission['ID'].head()

0     7007
1     9793
2     6593
3    10527
4     6914
Name: ID, dtype: int64

In [ ]:
# [2] X, X_submission 합치기 (필수는 아님)
dfX = pd.concat([X, X_submission])
dfX.head(3)

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,9902,F,Ship,3,5,214,2,medium,F,6,4578
1,9501,A,Ship,4,2,201,3,medium,F,4,4613
2,6111,A,Ship,4,2,264,3,low,M,10,5137

In [ ]:
# [3] df의 정보 확인 
dfX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10999 entries, 0 to 4399
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  object
 2   Mode_of_Shipment     10999 non-null  object
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  object
 8   Gender               10999 non-null  object
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
dtypes: int64(7), object(4)
memory usage: 1.0+ MB

### 3-03.데이터 전처리

In [ ]:
# [4] 결측치 점검
dfX.isna().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
dtype: int64

In [ ]:
# [5] 상관관계 확인
print(dfX.corr())

                         ID  Customer_care_calls  Customer_rating  \
ID                   1.0000               0.1890          -0.0057
Customer_care_calls  0.1890               1.0000           0.0122
Customer_rating     -0.0057               0.0122           1.0000
Cost_of_the_Product  0.1968               0.3232           0.0093
Prior_purchases      0.1454               0.1808           0.0132
Discount_offered    -0.5983              -0.1308          -0.0031
Weight_in_gms        0.2783              -0.2766          -0.0019

                     Cost_of_the_Product  Prior_purchases  Discount_offered  \
ID                                0.1968           0.1454           -0.5983
Customer_care_calls               0.3232           0.1808           -0.1308
Customer_rating                   0.0093           0.0132           -0.0031
Cost_of_the_Product               1.0000           0.1237           -0.1383
Prior_purchases                   0.1237           1.0000           -0.0828
Discount_offered                 -0.1383          -0.0828            1.0000
Weight_in_gms                    -0.1326          -0.1682           -0.3761

                     Weight_in_gms
ID                          0.2783
Customer_care_calls        -0.2766
Customer_rating            -0.0019
Cost_of_the_Product        -0.1326
Prior_purchases            -0.1682
Discount_offered           -0.3761
Weight_in_gms               1.0000

In [ ]:
# [6] Y 값의 분포 확인
Y['Reached.on.Time_Y.N'].value_counts(normalize=True).sort_index()

0   0.4032
1   0.5968
Name: Reached.on.Time_Y.N, dtype: float64

In [ ]:
# [7] X,Y를 합쳐 dfXY를 만듦 
dfXY = pd.concat([X, Y], axis=1)
dfXY.shape

(6599, 12)

In [ ]:
# [8] dfX의 각 컬럼의 값 종류 개수 - 1인 것 제거하기 위해
print(dfX.nunique())

ID                     10999
Warehouse_block            5
Mode_of_Shipment           3
Customer_care_calls        6
Customer_rating            5
Cost_of_the_Product      215
Prior_purchases            8
Product_importance         3
Gender                     2
Discount_offered          65
Weight_in_gms           4034
dtype: int64

In [ ]:
# [9] Object 타입에 대한 Label Encoding
df_LE = dfX.copy()
df_LE['Gender'] = dfX['Gender'].replace(['F', 'M'], [0, 1])
df_LE['Product_importance'] = dfX['Product_importance'].replace(['low', 'medium', 'high'], 
                                                            [0, 1, 2])
df_LE['Mode_of_Shipment'] = dfX['Mode_of_Shipment'].replace(['Ship', 'Road', 'Flight'],
                                                        [0, 1, 2])
df_LE['Warehouse_block'] = dfX['Warehouse_block'].replace(['A', 'B', 'C', 'D', 'F'],
                                                        [0, 1, 2, 3, 4])
df_LE.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10999 entries, 0 to 4399
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  int64
 2   Mode_of_Shipment     10999 non-null  int64
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  int64
 8   Gender               10999 non-null  int64
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
dtypes: int64(11)
memory usage: 1.0 MB

In [ ]:
# [10] Object 타입에 대한 One Hot Encoding
df_OH = dfX.copy().drop(columns=['Product_importance', 'Mode_of_Shipment', 'Warehouse_block', 'Gender'])
pi = dfX['Product_importance'].str.get_dummies()
ms = dfX['Mode_of_Shipment'].str.get_dummies()
wb = dfX['Warehouse_block'].str.get_dummies()
g = dfX['Gender'].replace(['F', 'M'], [0, 1])
df_OH = pd.concat([df_OH, pi, ms, wb, g], axis=1)
df_OH.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10999 entries, 0 to 4399
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Customer_care_calls  10999 non-null  int64
 2   Customer_rating      10999 non-null  int64
 3   Cost_of_the_Product  10999 non-null  int64
 4   Prior_purchases      10999 non-null  int64
 5   Discount_offered     10999 non-null  int64
 6   Weight_in_gms        10999 non-null  int64
 7   high                 10999 non-null  int64
 8   low                  10999 non-null  int64
 9   medium               10999 non-null  int64
 10  Flight               10999 non-null  int64
 11  Road                 10999 non-null  int64
 12  Ship                 10999 non-null  int64
 13  A                    10999 non-null  int64
 14  B                    10999 non-null  int64
 15  C                    10999 non-null  int64
 16  D                    10999 non-null  int64
 17  F                    10999 non-null  int64
 18  Gender               10999 non-null  int64
dtypes: int64(19)
memory usage: 1.7 MB

In [ ]:
df_OH.columns

Index(['ID', 'Customer_care_calls', 'Customer_rating', 'Cost_of_the_Product',
       'Prior_purchases', 'Discount_offered', 'Weight_in_gms', 'high', 'low',
       'medium', 'Flight', 'Road', 'Ship', 'A', 'B', 'C', 'D', 'F', 'Gender'],
      dtype='object')

In [ ]:
# [11] df_OH 에서 영향력이 있다고 생각되는 것만 골라서 사용
features = ['ID', 'Customer_care_calls', 'Customer_rating', 'Cost_of_the_Product',
       'Prior_purchases', 'Discount_offered', 'Weight_in_gms',
       'high', 'Flight', 'Road', 'A', 'B']
df_MINI = df_OH[features]

### 3-04.데이터 분리, 모델 생성 및 학습

In [ ]:
# [12] 사용할 도구 import
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [ ]:
# [13] train score, test score, roc_auc_score 를 반환하는 함수 작성
from sklearn.metrics import roc_auc_score
def get_scores(model, xtrain, xtest, ytrain, ytest):
    A = model.score(xtrain, ytrain)
    B = model.score(xtest, ytest)
    ypred = model.predict_proba(xtest)[:, 1]
    C = roc_auc_score(ytest, ypred)  
    return '{:.4f} {:.4f} {:.4f}'.format(A, B, C)

In [ ]:
# [14] 다양한 모델을 만들고 성능을 출력하는 함수 작성
def make_models(xtrain, xtest, ytrain, ytest):
    model1 = LogisticRegression().fit(xtrain, ytrain)
    print('model1', get_scores(model1, xtrain, xtest, ytrain, ytest))
    for k in range(1, 10):
        model2 = KNeighborsClassifier(k).fit(xtrain, ytrain)
        print('model2', k, get_scores(model2, xtrain, xtest, ytrain, ytest))

    # overfitting
    model3 = DecisionTreeClassifier(random_state=0).fit(xtrain, ytrain)
    print('model3', get_scores(model3, xtrain, xtest, ytrain, ytest))

    # overfitting 해결
    for d in range(3, 8):
        model3 = DecisionTreeClassifier(max_depth=d,random_state=0).fit(xtrain, ytrain)
        print('model3', d, get_scores(model3, xtrain, xtest, ytrain, ytest))

    # overfitting
    model4 = RandomForestClassifier(random_state=0).fit(xtrain, ytrain)
    print('model4', get_scores(model4, xtrain, xtest, ytrain, ytest))

    # overfitting 해결
    for d in range(3, 8):
        model4 = RandomForestClassifier(500, max_depth=d, random_state=0).fit(xtrain, ytrain)
        print('model4', d, get_scores(model4, xtrain, xtest, ytrain, ytest))

    model5 = XGBClassifier().fit(xtrain, ytrain)
    print('model5', get_scores(model5, xtrain, xtest, ytrain, ytest))

In [ ]:
# [15] X를 train 용도, submission 용도로 나누고, Y를 1차원으로 바꿈 (MinMaxScaler 적용)
def get_data(dfX, Y):
    X = dfX.drop(columns=['ID'])
    X_use = X.iloc[:6599, :]
    X_submission = X.iloc[6599:, :]
    Y1 = Y['Reached.on.Time_Y.N']
    scaler = MinMaxScaler()
    X1_use = scaler.fit_transform(X_use)
    X1_submission = scaler.transform(X_submission)
    print(X1_use.shape, Y1.shape, X1_submission.shape)
    return X1_use, X1_submission, Y1

### LabelEncoding, One-Hot Encoding 및 변수 선택을 수행해 보겠습니다.
- 별로 다르지 않네요 ^^;
- 시험에서는 LabelEncoding을 하시면 어떨까 생각됩니다.

In [ ]:
# [16] df_LE 사용 

# X, Y 분리하기
X1_use, X1_submission, Y1 = get_data(df_LE, Y)

# train, test  7:3 분할, stratify 적용, random_state=0 적용
xtrain1, xtest1, ytrain1, ytest1 = train_test_split(X1_use, Y1, 
                                                test_size = 0.25,
                                                stratify=Y1, random_state=0)
# 다양한 모델 만들어 보기
make_models(xtrain1, xtest1, ytrain1, ytest1)

(6599, 10) (6599,) (4400, 10)
model1 0.6454 0.6479 0.7278
model2 1 1.0000 0.6279 0.6126
model2 2 0.8139 0.6370 0.6736
model2 3 0.8121 0.6424 0.6922
model2 4 0.7646 0.6455 0.7040
model2 5 0.7670 0.6485 0.7060
model2 6 0.7450 0.6558 0.7189
model2 7 0.7430 0.6527 0.7218
model2 8 0.7341 0.6491 0.7211
model2 9 0.7280 0.6509 0.7233
model3 1.0000 0.6436 0.6331
model3 3 0.6733 0.6782 0.7480
model3 4 0.6884 0.6800 0.7508
model3 5 0.6929 0.6921 0.7509
model3 6 0.7040 0.6861 0.7453
model3 7 0.7129 0.6721 0.7342
model4 1.0000 0.6648 0.7409
model4 3 0.6785 0.6782 0.7509
model4 4 0.6929 0.6824 0.7492
model4 5 0.7082 0.6812 0.7495
model4 6 0.7187 0.6788 0.7467
model4 7 0.7480 0.6758 0.7436
model5 0.7159 0.6812 0.7401

In [ ]:
# [17] df_OH 사용 데이터 섞기, X, Y 분리하기
# X, Y 분리하기
X2_use, X2_submission, Y2 = get_data(df_OH, Y)
# train, test  7:3 분할, stratify 적용, random_state=0 적용
xtrain2, xtest2, ytrain2, ytest2 = train_test_split(X2_use, Y2, 
                                                    test_size=0.25,
                                                    stratify=Y2, random_state=0)

# 다양한 모델 만들어 보기
make_models(xtrain2, xtest2, ytrain2, ytest2)

(6599, 18) (6599,) (4400, 18)
model1 0.6472 0.6479 0.7272
model2 1 1.0000 0.6182 0.6047
model2 2 0.8078 0.6145 0.6540
model2 3 0.8141 0.6152 0.6634
model2 4 0.7606 0.6103 0.6691
model2 5 0.7707 0.6236 0.6733
model2 6 0.7391 0.6176 0.6720
model2 7 0.7321 0.6103 0.6730
model2 8 0.7197 0.6152 0.6732
model2 9 0.7238 0.6164 0.6749
model3 1.0000 0.6388 0.6252
model3 3 0.6733 0.6782 0.7480
model3 4 0.6884 0.6800 0.7508
model3 5 0.6929 0.6921 0.7509
model3 6 0.7040 0.6861 0.7465
model3 7 0.7123 0.6733 0.7296
model4 1.0000 0.6673 0.7349
model4 3 0.6773 0.6758 0.7498
model4 4 0.6910 0.6752 0.7474
model4 5 0.7048 0.6806 0.7434
model4 6 0.7272 0.6788 0.7437
model4 7 0.7513 0.6818 0.7392
model5 0.7141 0.6709 0.7400

In [ ]:
# [18] df_MINI 사용 데이터 섞기, X, Y 분리하기
# X, Y 분리하기
X3_use, X3_submission, Y3 = get_data(df_MINI, Y)

# train, test  7:3 분할, stratify 적용, random_state=0 적용
xtrain3, xtest3, ytrain3, ytest3 = train_test_split(X3_use, Y3, 
                                                test_size = 0.25,
                                                stratify=Y3, random_state=0)
# 다양한 모델 만들어 보기
# make_models 함수 호출 부분은 
# 실제 시험에서 제출 전에 꼭 주석을 취해 주세요 ^_^  - 실행 시간 초과 금지
make_models(xtrain3, xtest3, ytrain3, ytest3)

(6599, 11) (6599,) (4400, 11)
model1 0.6478 0.6436 0.7281
model2 1 1.0000 0.6261 0.6147
model2 2 0.8060 0.6327 0.6623
model2 3 0.8129 0.6388 0.6958
model2 4 0.7670 0.6448 0.7090
model2 5 0.7721 0.6376 0.7110
model2 6 0.7515 0.6430 0.7129
model2 7 0.7488 0.6436 0.7143
model2 8 0.7343 0.6485 0.7180
model2 9 0.7325 0.6412 0.7208
model3 1.0000 0.6552 0.6411
model3 3 0.6733 0.6782 0.7480
model3 4 0.6884 0.6800 0.7508
model3 5 0.6929 0.6921 0.7509
model3 6 0.7040 0.6861 0.7469
model3 7 0.7131 0.6709 0.7348
model4 1.0000 0.6661 0.7407
model4 3 0.6763 0.6764 0.7499
model4 4 0.6921 0.6812 0.7482
model4 5 0.7046 0.6794 0.7483
model4 6 0.7179 0.6812 0.7466
model4 7 0.7399 0.6776 0.7476
model5 0.7129 0.6752 0.7403

In [ ]:
# LabelEncoding, One-Hot Encoding, 변수의 선택의 경우 결과가 비슷함
# train, test의 성능이 비슷하면서 roc_auc가 높은 것을 선택함

In [ ]:
# [19] 최종적으로 사용할 모델을 선택하여 model로 다시 생성합니다.
model = DecisionTreeClassifier(max_depth=5).fit(xtrain1, ytrain1)
print('final model', get_scores(model, xtrain1, xtest1, ytrain1, ytest1))

final model 0.6929 0.6921 0.7509

### 3-05.제출할 데이터 생성

In [ ]:
# [20] test 데이터에 대한 확률 구하기, 파일로 저장하기
ypred = model.predict_proba(X1_submission)[:, 1]
submission = pd.DataFrame({
         "ID": X_submission["ID"],
         "Reached.on.Time_Y.N": ypred
     })
submission.to_csv('submission수험번호.csv', index=False)  ## 수험번호.csv

In [ ]:
# [21] submission 확인
print(submission.head(5))

      ID  Reached.on.Time_Y.N
0   7007               0.2742
1   9793               0.4884
2   6593               0.4817
3  10527               0.3657
4   6914               0.4817

In [ ]:
# [22] 비슷할까요?! - 시험에서는 주지 않는 데이터
ytest = pd.read_csv('y_test.csv')
roc_auc_score(ytest['Reached.on.Time_Y.N'], ypred)

0.7458897384305835

## 시험보러 가서는 이렇게!

In [ ]:
# [0] x_train, x_test 데이터로 생성함
# 문제 출제 형식에 맞도록 변환한 것입니다.  시험에서는 이런 코드가 없습니다.
from sklearn.model_selection import train_test_split
import pandas as pd
dftot = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/1st_Train.csv')
x_train, x_test = train_test_split(dftot, test_size=0.4, stratify=dftot['Reached.on.Time_Y.N'], random_state=0)
y_train = x_train[['Reached.on.Time_Y.N']]
x_train = x_train.drop(columns='Reached.on.Time_Y.N')
y_test = x_test[['Reached.on.Time_Y.N']]   # 이것은 시험에서는 제공되지 않음
x_test = x_test.drop(columns='Reached.on.Time_Y.N')

x_train.to_csv('x_train.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
x_test.to_csv('x_test.csv', index=False)
y_test.to_csv('y_test.csv', index=False) # 이것은 시험에서는 제공되지 않음

In [ ]:
# [0] 사용 라이브러리 import
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score

# 데이타가 많은경우 모두 출력 안되고 ... 으로 생략해서 출력됨.
pd.set_option('display.max_rows',500)    #출력할 max row를 지정
pd.set_option('display.max_columns',20)  #출력할 max columns를 지정
#출력 format 지정 - 소수점아래 4자리까지
pd.set_option('display.float_format', '{:.4f}'.format)

# [1] x_train.csv, y_train.csv, x_test.csv 읽어오기
X = pd.read_csv('x_train.csv')
Y = pd.read_csv('y_train.csv')
X_submission = pd.read_csv('x_test.csv')

# [2] X, X_submission 합치기 (필수는 아님)
dfX = pd.concat([X, X_submission])
dfX.head(3)

# [3] df의 정보 확인 
dfX.info()

# [4] 결측치 점검
dfX.isna().sum()

# [5] X,Y를 합쳐 dfXY를 만듦 
dfXY = pd.concat([X, Y], axis=1)
dfXY.shape

# [6] dfX의 각 컬럼의 값 종류 개수 - 1인 것 제거하기 위해
print(dfX.nunique())

# [7] Object 타입에 대한 Label Encoding
df_LE = dfX.copy()
df_LE['Gender'] = dfX['Gender'].replace(['F', 'M'], [0, 1])
df_LE['Product_importance'] = dfX['Product_importance'].replace(['low', 'medium', 'high'], 
                                                            [0, 1, 2])
df_LE['Mode_of_Shipment'] = dfX['Mode_of_Shipment'].replace(['Ship', 'Road', 'Flight'],
                                                        [0, 1, 2])
df_LE['Warehouse_block'] = dfX['Warehouse_block'].replace(['A', 'B', 'C', 'D', 'F'],
                                                        [0, 1, 2, 3, 4])
df_LE.info()

# [8] train score, test score, roc_auc_score 를 반환하는 함수 작성

def get_scores(model, xtrain, xtest, ytrain, ytest):
    A = model.score(xtrain, ytrain)
    B = model.score(xtest, ytest)
    ypred = model.predict_proba(xtest)[:, 1]
    C = roc_auc_score(ytest, ypred)  
    return '{:.4f} {:.4f} {:.4f}'.format(A, B, C)

# [9] 다양한 모델을 만들고 성능을 출력하는 함수 작성
def make_models(xtrain, xtest, ytrain, ytest):
    model1 = LogisticRegression().fit(xtrain, ytrain)
    print('model1', get_scores(model1, xtrain, xtest, ytrain, ytest))
    for k in range(1, 10):
        model2 = KNeighborsClassifier(k).fit(xtrain, ytrain)
        print('model2', k, get_scores(model2, xtrain, xtest, ytrain, ytest))

    # overfitting
    model3 = DecisionTreeClassifier(random_state=0).fit(xtrain, ytrain)
    print('model3', get_scores(model3, xtrain, xtest, ytrain, ytest))

    # overfitting 해결
    for d in range(3, 8):
        model3 = DecisionTreeClassifier(max_depth=d,random_state=0).fit(xtrain, ytrain)
        print('model3', d, get_scores(model3, xtrain, xtest, ytrain, ytest))

    # overfitting
    model4 = RandomForestClassifier(random_state=0).fit(xtrain, ytrain)
    print('model4', get_scores(model4, xtrain, xtest, ytrain, ytest))

    # overfitting 해결
    for d in range(3, 8):
        model4 = RandomForestClassifier(500, max_depth=d, random_state=0).fit(xtrain, ytrain)
        print('model4', d, get_scores(model4, xtrain, xtest, ytrain, ytest))

    model5 = XGBClassifier().fit(xtrain, ytrain)
    print('model5', get_scores(model5, xtrain, xtest, ytrain, ytest))

# [10] X를 train 용도, submission 용도로 나누고, Y를 1차원으로 바꿈 (MinMaxScaler 적용)
def get_data(dfX, Y):
    X = dfX.drop(columns=['ID'])
    X_use = X.iloc[:6599, :]
    X_submission = X.iloc[6599:, :]
    Y1 = Y['Reached.on.Time_Y.N']
    scaler = MinMaxScaler()
    X1_use = scaler.fit_transform(X_use)
    X1_submission = scaler.transform(X_submission)
    print(X1_use.shape, Y1.shape, X1_submission.shape)
    return X1_use, X1_submission, Y1    

# [11] df_LE 사용 

# X, Y 분리하기
X1_use, X1_submission, Y1 = get_data(df_LE, Y)

# train, test  7:3 분할, stratify 적용, random_state=0 적용
xtrain1, xtest1, ytrain1, ytest1 = train_test_split(X1_use, Y1, 
                                                test_size = 0.25,
                                                stratify=Y1, random_state=0)
# 다양한 모델 만들어 보기  - 성능 확인 후 꼭 주석!
#make_models(xtrain1, xtest1, ytrain1, ytest1)

# [12] 최종적으로 사용할 모델을 선택하여 model로 다시 생성합니다.
model = DecisionTreeClassifier(max_depth=5).fit(xtrain1, ytrain1)
print('final model', get_scores(model, xtrain1, xtest1, ytrain1, ytest1))

# [13] test 데이터에 대한 확률 구하기, 파일로 저장하기
ypred = model.predict_proba(X1_submission)[:, 1]
submission = pd.DataFrame({
         "ID": X_submission["ID"],
         "Reached.on.Time_Y.N": ypred
     })
submission.to_csv('submission수험번호.csv', index=False)  ## 수험번호.csv

# [14] submission 확인
temp = pd.read_csv('submission수험번호.csv')
print(submission.head(5))

## 사용자 정의 함수 없이 풀이하기

In [ ]:
# [0] x_train, x_test 데이터로 생성함
# 문제 출제 형식에 맞도록 변환한 것입니다.  시험에서는 이런 코드가 없습니다.
from sklearn.model_selection import train_test_split
import pandas as pd
dftot = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/1st_Train.csv')
x_train, x_test = train_test_split(dftot, test_size=0.4, stratify=dftot['Reached.on.Time_Y.N'], random_state=0)
y_train = x_train[['Reached.on.Time_Y.N']]
x_train = x_train.drop(columns='Reached.on.Time_Y.N')
y_test = x_test[['Reached.on.Time_Y.N']]   # 이것은 시험에서는 제공되지 않음
x_test = x_test.drop(columns='Reached.on.Time_Y.N')

x_train.to_csv('x_train.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
x_test.to_csv('x_test.csv', index=False)
y_test.to_csv('y_test.csv', index=False) # 이것은 시험에서는 제공되지 않음

In [ ]:
# [0] 사용 라이브러리 import
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

# 데이타가 많은경우 모두 출력 안되고 ... 으로 생략해서 출력됨.
pd.set_option('display.max_rows',500)    #출력할 max row를 지정
pd.set_option('display.max_columns',20)  #출력할 max columns를 지정
#출력 format 지정 - 소수점아래 4자리까지
pd.set_option('display.float_format', '{:.4f}'.format)

# [1] x_train.csv, y_train.csv, x_test.csv 읽어오기
X = pd.read_csv('x_train.csv')
Y = pd.read_csv('y_train.csv')
X_submission = pd.read_csv('x_test.csv')

# [2] X, X_submission 합치기 (필수는 아님)
dfX = pd.concat([X, X_submission])
#print(dfX.head(3))

# [3] df의 정보 확인 
#dfX.info()

# [4] 결측치 점검
#dfX.isna().sum()

# [5] X,Y를 합쳐 dfXY를 만듦 
dfXY = pd.concat([X, Y], axis=1)
#print(dfXY.shape)

# [6] dfX의 각 컬럼의 값 종류 개수 - 1인 것 제거하기 위해
#print(dfX.nunique())

# [7] Object 타입에 대한 Label Encoding
# Label Encoding 방법 1
# df_LE = dfX.copy()
# df_LE['Gender'] = dfX['Gender'].replace(['F', 'M'], [0, 1])
# df_LE['Product_importance'] = dfX['Product_importance'].replace(['low', 'medium', 'high'], 
#                                                             [0, 1, 2])
# df_LE['Mode_of_Shipment'] = dfX['Mode_of_Shipment'].replace(['Ship', 'Road', 'Flight'],
#                                                         [0, 1, 2])
# df_LE['Warehouse_block'] = dfX['Warehouse_block'].replace(['A', 'B', 'C', 'D', 'F'],
#                                                         [0, 1, 2, 3, 4])
# df_LE.info()

# Label Encoding 방법 2
df_LE = dfX.copy()
le = LabelEncoder()
for x in ['Gender', 'Product_importance', 'Mode_of_Shipment', 'Warehouse_block']:
    df_LE[x] = le.fit_transform(df_LE[x])

# [8] df_LE 사용 
# df_LE 를 train 용도(X_use1), submission 용도(X_submission1)로 나누고, Y에서 target 변수만 Y1으로 저장
X_temp = df_LE.drop(columns=['ID'])
X_scaled = MinMaxScaler().fit_transform(X_temp)
X1_use = df_LE.iloc[:X.shape[0], :]
X1_submission = df_LE.iloc[X.shape[0]:, :]
Y1 = Y['Reached.on.Time_Y.N']
#print(X1_use.shape, Y1.shape, X1_submission.shape)

# train, test  0.75:0.25 분할, stratify 적용, random_state=0 적용
xtrain, xtest, ytrain, ytest = train_test_split(X1_use, Y1, 
                                                test_size = 0.25,
                                                stratify=Y1, random_state=0)

# [9] train score, test score, roc_auc_score 를 반환하는 함수 작성
# 이 함수는 문제에서 원하는 평가지표가 무엇인지에 따라 만들어 주시면 됩니다.

from sklearn.metrics import roc_auc_score
def get_scores(model, xtrain, xtest, ytrain, ytest):
    A = model.score(xtrain, ytrain)
    B = model.score(xtest, ytest)
    ypred = model.predict_proba(xtest)[:, 1]
    C = roc_auc_score(ytest, ypred)  
    return '{:.4f} {:.4f} {:.4f}'.format(A, B, C)

# [10] 다양한 모델을 만들고 성능을 출력하는 함수 작성
# 다양한 모델 만들어 보기  - 성능 확인 후 꼭 주석!

# model1 = LogisticRegression().fit(xtrain, ytrain)
# print('model1', get_scores(model1, xtrain, xtest, ytrain, ytest))
# for k in range(1, 10):
#     model2 = KNeighborsClassifier(k).fit(xtrain, ytrain)
#     print('model2', k, get_scores(model2, xtrain, xtest, ytrain, ytest))

# model3 = DecisionTreeClassifier(random_state=0).fit(xtrain, ytrain)
# print('model3', get_scores(model3, xtrain, xtest, ytrain, ytest))

#for d in range(3, 8):
#    model3 = DecisionTreeClassifier(max_depth=d,random_state=0).fit(xtrain, ytrain)
#    print('model3', d, get_scores(model3, xtrain, xtest, ytrain, ytest))

#model4 = RandomForestClassifier(random_state=0).fit(xtrain, ytrain)
#print('model4', get_scores(model4, xtrain, xtest, ytrain, ytest))

#for d in range(3, 8):
#    model4 = RandomForestClassifier(500, max_depth=d, random_state=0).fit(xtrain, ytrain)
#    print('model4', d, get_scores(model4, xtrain, xtest, ytrain, ytest))

#model5 = XGBClassifier().fit(xtrain, ytrain)
#print('model5', get_scores(model5, xtrain, xtest, ytrain, ytest))

# [11] 최종적으로 사용할 모델을 선택하여 model로 다시 생성합니다.
model = DecisionTreeClassifier(max_depth=3,random_state=0).fit(xtrain, ytrain)
print('final model', get_scores(model, xtrain, xtest, ytrain, ytest))

# [12] test 데이터에 대한 확률 구하기, 파일로 저장하기
ypred = model.predict_proba(X1_submission)[:, 1]
submission = pd.DataFrame({
         "ID": X_submission["ID"],
         "Reached.on.Time_Y.N": ypred
     })
submission.to_csv('submission수험번호.csv', index=False)  ## 수험번호.csv

# [13] submission 확인
temp = pd.read_csv('submission수험번호.csv')
print(submission.head(5))